<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<roleManager enabled="true" />
  <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies><buildProviders><add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" /></buildProviders></compilation>
		<customErrors mode="Off" />
		<pages theme="BleuCSL" />
    <authentication mode="Forms" />
	</system.web>
<connectionStrings><add name="ModeleCSLContainer" connectionString="metadata=res://*/App_Code.ModeleCSL.csdl|res://*/App_Code.ModeleCSL.ssdl|res://*/App_Code.ModeleCSL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AERIAL\SQLEXPRESS;Initial Catalog=CSL;User ID=sa;Password=sapwd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
